p { color: red; }
#p-red { color: red; }
#p-blue { color: blue; }
#amarillo { color: yellow; }
h1 {color: green;}
h2 {color: purple;}
h3 {color: orange;}
h4 {color: pink;}
h5 {color: gray;}
h6 {color: blue;}
.loborosa {width: 200px;}
